@import "_variables";

.footer_container {
    width: 100%;
    height: 100px;
    background-color: $darkGray;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    width: 1200px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
}

.footer h2,
.footer a {
    color: white;
}

.footer h2 span {
    color: $orange;
}

.footer_legal a {
    margin-left: 20px;
}